@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: morrowind;
  src: url('./assets/Magic_Cards.ttf');
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

:root {
font-family: morrowind;
background-color: #000000d8;
color: #ecce24da;
border-color: #ecce24da;
}